useDynLib("RcppMLPACK", .registration=TRUE)
export("RcppMLPACK.package.skeleton",
       "kMeans",
       "coverTreeNeighbor",
       "linearRegression",
       "logisticRegression",
       "naiveBayesClassifier")
importFrom("Rcpp", "evalCpp")
importFrom("utils", "packageDescription", "package.skeleton")
