useDynLib("RcppMLPACK")
export("RcppMLPACK.package.skeleton",
       "mlKmeans",
       "naiveBayesClassifier")
importFrom("Rcpp", "evalCpp")
importFrom("utils", "packageDescription", "package.skeleton")
