useDynLib("RcppMLPACK")
export("RcppMLPACK.package.skeleton",
       "kMeans",
       "coverTreeNeighbor",
       "logisticRegression",
       "naiveBayesClassifier")
importFrom("Rcpp", "evalCpp")
importFrom("utils", "packageDescription", "package.skeleton")
